.blackshadow2 {
	color: #666666;
	text-shadow: -2px 2px 2px black;
}

.inputbox {
	width: 100%;
	border: 2px solid rgba(0, 0, 0, .4);
	padding: 10px;
	margin-left: -2px;
	margin-right: -2px;
}

.rowheight40 {
	height: 40px;
}

.purebotton-box {
	width: 100%;
}

.purebutton {
	display: block;
	width: 100%;
	color: white;
	padding: 5px 10px;
	background-color: #0078d7;
	border-color: #0078d7;
	background-color: #0078d7;
}

.purebutton:hover {
	cursor: pointer;
	border-color: #004e8c;
}

.purebutton:focus {
	border-color: #004e8c;
	background-color: rgba(0, 0, 0, 0.4);
	transition-duration: 0.1s;
	-moz-transition-duration: 0.1s; /* Firefox 4 */
	-webkit-transition-duration: 0.1s; /* Safari 和 Chrome */
	-o-transition-duration: 0.1s; /* Opera */
}

.blocks {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	overflow: hidden;
}

.tile {
	width: 80px;
	height: 80px;
	position: absolute;
	display: inline-block;
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);
}

.toplayer {
	width: 100%;
	height: 100%;
	position: absolute;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.tile:hover {
	box-shadow: 0px 0px 50px rgba(0, 0, 0, 1);
	z-index: 9;
}

.tile:hover .bottomlayer {
	background-color: rgba(255, 255, 255, 0.3);
}

.tile:hover .toplayer {
	width: 82px;
	height: 82px;
	z-index: 99;
	top: -1px;
	left: -1px;
	-webkit-transform: scale(0.4);
	-ms-transform: scale(0.4);
	transform: scale(0.4);
}

.bottomlayer {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(255, 255, 255, 0);
}

.bggreen {
	background-color: #327d85;
}

.bgpink {
	background-color: #ff7f78;
}

.bggray {
	background-color: #d5e5d5;
}

.bgblack {
	background-color: #414141;
}